.component__three__content {
    padding: 5% 0;
}

.component_is_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.component__two__content {
    padding-top: 5%;
}
